html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --style-blank-input-height: 40px;
}

form > fieldset textarea, form > fieldset input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="reset"]):not([type="date"]):not([type="button"]) {
    width: 100%;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="reset"]):not([type="button"]) {
    height: var(--style-blank-input-height);
    padding-left: .25em;
    font-size: 0.8rem;
    box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"],
input::file-selector-button,
input[type="button"] {
    height: var(--style-blank-input-height);
    padding: 0 .5em;
    font-size: 0.8rem;
    box-sizing: border-box;
}

input::file-selector-button {
    margin-right: .5em;
}

input[type="checkbox"],
input[type="radio"] {
    width: 1em;
    height: 1em;
    vertical-align: baseline;
}

textarea {
    font-family: inherit;
    min-height: var(--style-blank-input-height);
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: .25em 0 0 .25em;
    line-height: 1.33;
}

select {
    min-height: var(--style-blank-input-height);
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: 0 .25em;
}

progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 0;
    height: 1rem;
    background-color: #e0e0e0;
    color: currentColor;
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 0;
}

progress::-webkit-progress-value {
    background-color: currentColor;
    border-radius: 0;
}

progress::-moz-progress-bar {
    background-color: currentColor;
    border-radius: 0;
}

table {
    min-width: 100%;
    width: max-content;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #d0d0d0;
    padding: .5em .75em;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}